.visualisation-container {
	margin: 20px;
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
}

/* Add extra space below elements */
.element-with-extra-space {
    margin-bottom: 30px; /* Adjust this value to set the desired space */
}